doctype html
head
	meta(charset='utf-8')
	title Deflated UTF-8 String
	style(type='text/css')
		:stylus(minify=true)
			html, body
				margin 0
				padding 0
			#decode
				border 0
				background-color #eee
main#main
	textarea#decode
